body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/*General*/

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin:0%;
}

.hero p, .navbar li a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.testimonialText p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.testimonialAuthor p {
    font-size: 20px;
    font-weight: 700;
    color: #1F2937;
}

.ctaLabels h3 {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.ctaLabels p {
    font-size: 16px;
    color: #E5E7EB;
}

.navbar {
    background-color: #1F2937;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
}

.navbarContent ul {
    display: flex;
    margin: 0%;
    gap: 24px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Hero Section*/

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.heroContent {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 25px;
}

.heroText {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
    gap: 20px; 
}

.heroText p {
    margin: 0%;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border-color: #3882f6;
    color: #fff;
    width: fit-content;
    padding: 8px 24px;
    border-style: none;
}

.heroImage {
    height: 100%;
    width: 50%;
}

.heroImage img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

/*Card section*/

.cardsCopy {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.cardsContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 25px;
}

.cards {
    display:flex;
    justify-content: center;
    width: 100%;
    gap: 35px; 
}

.card {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card .imageHolder {
    height: 80%; 
}

.card img {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 12px; 
}

.card p {
    text-align: center;
    font-size: 16px;
    color: #273345;
}

/*Testimonial section*/

.testimonials {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.testimonialContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin-top: 80px;
    margin-bottom: 80px;
}